



<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Bakery</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/linearicons.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/main.css">
</head>
<body>
    <!-- End banner Area -->
    <!-- Start team Area -->
    </div>
    @model IEnumerable<BakeryShop.Models.User>
    @{
        ViewBag.Title = "Users";
    }
    <section class="team-area section-gap" id="team">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">List of registered users.</h1>
                        <p>This is for our Administrator.</p>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(x => x.UserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Password)
                    </th>
                </tr>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => emp.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(x => emp.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(x => emp.Password)
                        </td>
                    </tr>
                }
            </table>

            </table>
            <div class="col-lg-12">
                <p class="footer-text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
        </div>
        </footer>
        <!-- End footer Area -->
        <script src="~/Scripts/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="~/Scripts/easing.min.js"></script>
        <script src="~/Scripts/hoverIntent.js"></script>
        <script src="~/Scripts/superfish.min.js"></script>
        <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
        <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/jquery.nice-select.min.js"></script>
        <script src="~/Scripts/mail-script.js"></script>
        <script src="~/Scripts/main.js"></script>
</body>
</html>


